@import '../../../../themes/contrib/bootbase/bootstrap5/scss/functions',
'../../../../themes/contrib/bootbase/bootstrap5/scss/variables',
'../../../../themes/contrib/bootbase/bootstrap5/scss/mixins',
'../../../../themes/adaptive/scss/mixins/breakpoints',
'../../../../themes/adaptive/scss/colors';
$duration: 0.4s;

.page .cabinet {
  &-form {
    label {
      display: block;
      text-align: left;
      margin: 0 0 5px;
    }

    .form-item--fz-152 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      padding-left: 20px;

      &-label {
        margin-left: 0;
      }

      &-checkbox {
        position: absolute;
        top: 5px;
        left: 0;
      }
    }

    .description {
      text-align: left;
      margin-left: 0 !important;
      width: 100%;
    }
  }
}

.networks {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  span {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  a {
    display: block;
    width: 42px;
    height: 42px;
    margin: 0 10px;
    transition: opacity $duration;

    &:hover {
      opacity: 0.7
    }
  }
}

@include m-down(xs) {
  .page-user-login {
    .region-tabs {
      ul {
        &.tabs {
          li {
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  .page-user-register {
    .region-tabs {
      ul.tabs {
        @include m-down(1199.98) {
          position: relative;
          margin-bottom: 30px;
        }
      }

      @include m-down(1199.98) {
        height: unset;
      }
    }
  }
}

.user-register-form {
  .form-item-mail {
    margin-bottom: 15px !important;

    .description {
      position: static !important;
      transform: none !important;
    }
  }
}