.page .cabinet-form label {
  display: block;
  text-align: left;
  margin: 0 0 5px;
}
.page .cabinet-form .form-item--fz-152 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding-left: 20px;
}
.page .cabinet-form .form-item--fz-152-label {
  margin-left: 0;
}
.page .cabinet-form .form-item--fz-152-checkbox {
  position: absolute;
  top: 5px;
  left: 0;
}
.page .cabinet-form .description {
  text-align: left;
  margin-left: 0 !important;
  width: 100%;
}

.networks {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.networks span {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}
.networks a {
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 10px;
  transition: opacity 0.4s;
}
.networks a:hover {
  opacity: 0.7;
}

@media (max-width: 575.98px) {
  .page-user-login .region-tabs ul.tabs li:first-child {
    margin-left: 0;
  }
}
@media (max-width: 575.98px) and (max-width: 1199.98px) {
  .page-user-register .region-tabs ul.tabs {
    position: relative;
    margin-bottom: 30px;
  }
}
@media (max-width: 575.98px) and (max-width: 1199.98px) {
  .page-user-register .region-tabs {
    height: unset;
  }
}
.user-register-form .form-item-mail {
  margin-bottom: 15px !important;
}
.user-register-form .form-item-mail .description {
  position: static !important;
  transform: none !important;
}
/*# sourceMappingURL=_maps/cabinet.css.map */
