{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{% if uid == 0 and (vkontakte_id or facebook_id) %}
  <div class="networks">
    <span>Через соцсети</span>
    {% if vkontakte_id %}
      <a href="/user/login/vkontakte">
        <svg width="42" height="42" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
          <path d="M15,0 C6.71636656,0 0,6.71550637 0,15 C0,23.2844936 6.71550637,30 15,30 C23.2844936,29.9991398 30,23.2836334 30,14.9991398 C30,6.71550637 23.2844936,0 15,0 L15,0 Z" fill="#4680C2"></path><path d="M24.1960283,10.1660735 C24.3442989,9.69632266 24.1960283,9.35468565 23.5394011,9.35468565 L21.3577046,9.35468565 C20.806985,9.35468565 20.5528068,9.65361803 20.4045362,9.97390273 C20.4045362,9.97390273 19.2819156,12.7069988 17.7144831,14.4792408 C17.2061266,14.9916963 16.9731299,15.1625148 16.6977701,15.1625148 C16.5494995,15.1625148 16.3588658,14.9916963 16.3588658,14.5219454 L16.3588658,10.1447212 C16.3588658,9.58956109 16.1894136,9.33333333 15.7234202,9.33333333 L12.2920139,9.33333333 C11.9531096,9.33333333 11.7412944,9.58956109 11.7412944,9.84578885 C11.7412944,10.3795967 12.5250106,10.5077106 12.6097367,12.0023725 L12.6097367,15.2479241 C12.6097367,15.9525504 12.4826476,16.0806643 12.2072878,16.0806643 C11.4659346,16.0806643 9.66550543,13.3262159 8.5852479,10.1874259 C8.3734327,9.56820878 8.16161749,9.33333333 7.61089797,9.33333333 L5.40801987,9.33333333 C4.77257427,9.33333333 4.66666667,9.63226572 4.66666667,9.95255042 C4.66666667,10.5290629 5.40801987,13.4329775 8.11925445,17.2763938 C9.91968367,19.9027284 12.4826476,21.311981 14.7914333,21.311981 C16.1894136,21.311981 16.3588658,20.9916963 16.3588658,20.4578885 L16.3588658,18.4721234 C16.3588658,17.831554 16.4859549,17.7247924 16.9307668,17.7247924 C17.2484896,17.7247924 17.8203907,17.8956109 19.1124634,19.1553974 C20.5951698,20.6500593 20.8493481,21.3333333 21.6754274,21.3333333 L23.8571239,21.3333333 C24.4925695,21.3333333 24.7891108,21.0130486 24.6196587,20.3938316 C24.429025,19.7746145 23.7088533,18.8778173 22.7768664,17.8102017 C22.2685099,17.2123369 21.5059752,16.5504152 21.2729785,16.2301305 C20.9552557,15.8030842 21.0399818,15.6322657 21.2729785,15.2479241 C21.251797,15.2479241 23.9206685,11.4472123 24.1960283,10.1660735" fill="#ffffff" fill-rule="evenodd"></path>
        </svg>
      </a>
    {% endif %}
    {% if facebook_id %}
      <a href="/user/login/facebook">
        <svg width="44" height="45" viewBox="0 0 44 45" xmlns="http://www.w3.org/2000/svg">
          <path d="M22 0C9.85 0 0 10.073 0 22.5S9.85 45 22 45c12.15-.001 22-10.075 22-22.501C44 10.073 34.15 0 22 0zm7.754 12.757H27.1c-2.08 0-2.483 1.007-2.483 2.485v3.257h4.96v5.103h-4.96v13.092h-5.173V23.602h-4.327v-5.103h4.327v-3.763c0-4.368 2.619-6.744 6.442-6.744l3.867.005v4.76z" fill="#3A5892" fill-rule="evenodd"></path>
        </svg>
      </a>
    {% endif %}
  </div>
{% endif %}
<form{{ attributes }}>
  {{ children }}
</form>
